<h2 class="heading">Task List</h2>

<div class="add-task-form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label class="task-placeholder">New Task Title</mat-label>
    <input class="task-clicked-placeholder" matInput [(ngModel)]="newTaskTitle" (keyup.enter)="createTask()"/>
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="createTask()" [disabled]="!newTaskTitle.trim()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="task-container" (click)="closeAllSubtaskEdits(); closeAllTaskEdits()">
  <div class="task-wrapper">
    <ng-container *ngIf="tasks.length; else noTasks">
      <mat-card class="task-item" *ngFor="let task of tasks">
        <div class="task-header">
          <div class="task-title">
            <mat-checkbox
              [checked]="task.status === 'completed'"
              (change)="onCompleteTask(task.id, $event)">
            </mat-checkbox>
            <div *ngIf="!task.editing; else editTaskForm" class="task-title-view">
              <span [class.completed]="task.status === 'completed'">{{ task.title }}</span>
            </div>
            <ng-template #editTaskForm>
              <div class="edit-form" (click)="$event.stopPropagation()">
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Edit Task Title</mat-label>
                  <input class="task-edit-input" matInput [(ngModel)]="task.tempTitle" required (keyup.enter)="saveEdit(task)">
                </mat-form-field>
                <button mat-icon-button color="primary" (click)="saveEdit(task)" [disabled]="!task.tempTitle?.trim()">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button (click)="cancelEdit(task)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </ng-template>
          </div>

          <button
            mat-icon-button
            *ngIf="task.subtasks?.length"
            (click)="toggleDetails(task)"
            class="toggle-btn"
          >
            <mat-icon>{{ task.showDetails ? 'expand_less' : 'expand_more' }}</mat-icon>
          </button>
        </div>

        <p *ngIf="task.description">{{ task.description }}</p>

        <div [class.subtasks-container]="true" [class.show]="task.showDetails">
          <h4 *ngIf="task.subtasks?.length">Subtasks</h4>
          <div *ngFor="let subtask of task.subtasks" class="subtask-item">
            <mat-checkbox
              [checked]="subtask.status === 'completed'"
              (change)="completeSubtask(task.id, subtask.id, $event)">
            </mat-checkbox>

            <div *ngIf="editingSubtaskId !== subtask.id; else editSubtaskForm" class="subtask-title-view">

              <span
                [class.completed]="subtask.status === 'completed'"
                (click)="subtask.status !== 'completed' && startEditSubtask(subtask); $event.stopPropagation()"
                class="clickable-subtask-title"
                [class.no-edit]="subtask.status === 'completed'"
              >
                {{ subtask.title }}
              </span>
            </div>
            <ng-template #editSubtaskForm>
              <div class="edit-subtask-form-controls">
                <input
                  matInput
                  [(ngModel)]="subtask.tempTitle"
                  required
                  (click)="$event.stopPropagation()"
                  (keyup.enter)="saveEditSubtask(task.id, subtask)"
                  (keyup.escape)="cancelEditSubtask(subtask)"
                  class="subtask-edit-input" placeholder="Edit Subtask Title"
                />
                <button
                  mat-icon-button
                  (click)="saveEditSubtask(task.id, subtask); $event.stopPropagation()"
                  [disabled]="!subtask.tempTitle?.trim()"
                  class="small-icon-button" >
                  <mat-icon>save</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="cancelEditSubtask(subtask); $event.stopPropagation()"
                  class="small-icon-button" >
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </ng-template>

            <button mat-icon-button color="warn" (click)="deleteSubtask(task.id, subtask.id)" class="small-icon-button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="subtask-form-row">
          <mat-form-field appearance="outline" class="subtask-input">
            <mat-label class="subtask-placeholder">New Subtask Title</mat-label>
            <input matInput class="subtask-input-text" [(ngModel)]="newSubtaskTitle[task.id]" (keyup.enter)="addSubtask(task.id)"/>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="addSubtask(task.id)">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div class="task-actions">
          <button mat-button color="warn" (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-button
            color="accent"
            (click)="startEdit(task); $event.stopPropagation()"
            [disabled]="task.editing || task.status === 'completed'"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card>
    </ng-container>

    <ng-template #noTasks>
      <p>No tasks found.</p>
    </ng-template>

  </div>
</div>
