/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  background-color: #F8F6F2 ;
  color: #30323D;
}

.mat-icon-button:hover{
  color:#8a5f3f!important;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-supporting-text-color:white;

  &.toast-success{
    --mdc-snackbar-container-color:#4caf50;
    --mat-mdc-snack-bar-button-color:white;
  }

  &.toast-error {
    --mdc-snackbar-container-color: #F44336;
    --mat-mdc-snack-bar-button-color: white;
  }

  &.toast-info {
    --mdc-snackbar-container-color: #2196F3;
    --mat-mdc-snack-bar-button-color: white;
  }
}
