.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f6fa;
}

.login-box {
  display: flex;
  width: 800px;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  overflow: hidden;
  background: white;
}

.login-left, .login-right {
  flex: 1;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left {
  background: #ffffff;
}

.login-right {
  background: linear-gradient(to right, #f857a6, #ff5858);
  color: white;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.sign-in-btn {
  width: 100%;
  background: linear-gradient(to right, #f857a6, #ff5858);
  transition: all 0.5s ease;
  color: white;
}

.sign-in-btn[disabled] {
  background:#e0e0e0 !important;
  color: #9e9e9e !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
}

.error-message {
  color: red;
  margin-top: 0.625rem;
}
