<h2>Register</h2>
<form [formGroup]="profileForm" (ngSubmit)="register()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" required>
  </mat-form-field>

  <mat-form-field appearance="outline" formControlName="name" required>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="!profileForm.valid">Register</button>

  <div *ngIf="errorMessage" class="error_message">{{ errorMessage }}</div>
</form>
